{% set pycharm_desktop_file = lookup('first_found', {
  'files': [
    'jetbrains-pycharm.desktop',
    'jetbrains-pycharm-ce.desktop',
    'com.jetbrains.PyCharm-Community.desktop',
    'pycharm-community_pycharm-community.desktop'
  ],
  'paths': [
    ansible_user_dir + '/.local/share/applications',
  ]
}, errors='ignore') %}
{% set intellij_desktop_file = lookup('first_found', {
  'files': [
    'jetbrains-idea.desktop',
    'jetbrains-idea-ce.desktop',
    'com.jetbrains.IntelliJ-IDEA-Community.desktop',
    'intellij-idea-community_intellij-idea-community.desktop',
  ],
  'paths': [
    ansible_user_dir + '/.local/share/applications',
  ]
}, errors='ignore') %}
{% set datagrip_desktop_file = lookup('first_found', {
  'files': [
    'jetbrains-datagrip.desktop',
  ],
  'paths': [
    ansible_user_dir + '/.local/share/applications',
  ]
}, errors='ignore') %}
{% set spotify_desktop_file = lookup('first_found', {
  'files': [
    'com.spotify.Client.desktop',
    'spotify_spotify.desktop',
  ],
  'paths': [
    ansible_user_dir + '/.local/share/applications',
    '/var/lib/flatpak/exports/share/applications',
  ]
}, errors='ignore') %}
var panel = panels().filter(panel => panel.location === 'bottom')[0]
panel.hiding = 'autohide'
panel.height = 64
var taskmanager = panel.widgets('org.kde.plasma.taskmanager')[0]
if (taskmanager) {
    print(taskmanager.launchers)
    panel.addWidget('org.kde.plasma.icontasks', 64, 0)
    taskmanager.remove()
}
var iconmanager = panel.widgets('org.kde.plasma.icontasks')[0]
print(panel.widgets())
iconmanager.currentConfigGroup = 'General'
iconmanager.writeConfig('launchers', [
    'applications:firefox.desktop',
    'applications:chromium-browser.desktop',
    'applications:mozilla-thunderbird.desktop',
    'applications:io.github.Hexchat.desktop',
    'applications:discord.desktop',
{% if spotify_desktop_file %}
    'applications:{{ spotify_desktop_file | basename }}',
{% endif %}
    'applications:code.desktop',
{% for desktop_file in [pycharm_desktop_file, intellij_desktop_file, datagrip_desktop_file] %}
{% if desktop_file %}
    'applications:{{ desktop_file | basename }}',
{% endif %}
{% endfor %}
{% if lookup('fileglob', ansible_user_dir + '/.local/share/applications/jetbrains-datagrip.desktop') | length %}
    'applications:jetbrains-datagrip.desktop',
{% endif %}
    'applications:virt-manager.desktop',
{% if lookup('fileglob', '/usr/share/applications/virtualbox.desktop') | length %}
    'applications:virtualbox.desktop',
{% endif %}
])
theme = 'breeze-dark'
